body {
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  // font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 800px;
}